@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(to right,#646161cf, #80808095 , #646161db), url("./assets/chatbanner.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}